@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url(../css/variables.css);

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/paper-texture-bg.webp');
    background-size: cover;
}

section{
    scroll-margin-top: 240px;
}

/* Header */

header{
    padding: 18px;
    background-color: #fffffef5;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 2px 0px 8px rgba(121, 121, 121, 0.438);
}

header > img{
    height: 40px;
}

header h1{
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--color-neutral-1);
}

header p{
    color: var(--color-primary-2);
    font-size: 0.75rem;
    display: none;
    padding-left: 2px;

    @media (min-width: 780px) {
        display: flex;
    }
}

/* Nav */

nav{
    display: none;
    margin-left: auto;
    @media (min-width: 780px) {
        display: flex;
    }
}

nav > ul{
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

nav li{
    list-style: none;
    font-size: 0.9rem;
}

nav a{
        text-decoration: none;
        color: var(--color-neutral-1);
}

/* Área inicial */

section.inicio{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../img/hero-v60-pour.webp');
    background-size: cover;
    background-position: center center;
    color: white;   
    min-height: 100vh;
    box-shadow: 0px 2px 8px rgba(116, 116, 116, 0.315);
}

section.inicio > h2{
    padding-top: 200px;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    max-width: 380px;
    margin: 0 auto;
    
    @media (min-width: 780px) {
        font-size: 3.8rem;
        padding-top: 300px;
        max-width: 900px;
    }
}

section.inicio > p{
    font-size: 1.2rem;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 430px;

    @media (min-width: 780px) {
        max-width: 700px;
    }
}

section.inicio > p#slogan2{
    color: var(--color-neutral-1); 
    max-width: 380px;
        font-size: 1rem;

    @media (min-width: 780px) {
        font-size: 1.4rem;
    }
}

section.inicio > div#button{
    padding: 16.5px;

    max-width: 250px;
    margin: 100px auto 0 auto;
    font-weight: 600;
    background-color: var(--color-primary-3);
    border-radius: 10px;
    text-align: center;
    font-size: 1.15rem;

    @media (min-width: 780px){
        margin-top: 20px;
    }
    @media (min-width: 900px){
        margin-top: 100px;
    }
}

section.inicio > div#button:hover{
    transition: 0.5s;
    scale: 1.01;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--color-primary-3);
    box-shadow: 0px 2px 8px rgba(66, 66, 66, 0.384);
}

/* Ficha Técnica */

section.ficha-t{
    min-height: 100vh;
}

section.ficha-t > h3{
    padding-top: 80px;
    text-align: center;
    font-family: 'Poppins', serif;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: var(--color-primary-2);
}

.ficha-t > h2{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 50px;
    color: var(--color-neutral-1);
    max-width: 400px;
    margin: 0 auto;

    @media (min-width: 900px){
    font-size: 2.25rem;
    }
}

div#ficha   {
    background-color: white;
    border-radius: 10px;
    border-left: 2.5px solid var(--color-primary-2);
    border-top: 4.5px solid var(--color-primary-3);
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 0px 2px 8px rgba(66, 66, 66, 0.384);
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
        max-width: 850px;
        flex-direction: row;
    }
}

.ficha-t > ul{
    padding-top: 50px;
    margin: 0 auto;
}

.ficha-t li{
    list-style: none;
    
    border-bottom: 0.5px solid rgba(155, 155, 155, 0.226);
    padding-left: 10px;
    margin: 15px;
    margin-bottom: 20px;
    min-height: 75px;
    font-family: 'Poppins', serif;
    color: var(--color-neutral-1);
    font-weight: 450;
    line-height: 2rem;

    @media (min-width: 900px) {
        border-bottom: 0px;
        padding-right: 50px;
        font-size: 1.05rem;
    }
}

.ficha-t ul > li > strong{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-primary-2);
}

.tabela1{
    border-left: 2px solid var(--color-primary-2);
}

.tabela2{
    border-left: 2px solid var(--color-primary-1);
}

/* Origem */

section.origem{
    min-height: 100vh;
    margin-bottom: 100px;
    margin-top: 100px;

    @media (min-width: 900px){
        margin-bottom: 0px;
    }

}

div.divider-copper{
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        var(--color-primary-3),
        transparent
    );

    margin: 5vh;
}

.o-container{
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 780px){
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 700px;
    }
    @media (min-width: 1080px){
        max-width: 900px;
    }
}

.origem img{
    width: 70vw;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(97, 97, 97, 0.5);

        @media (min-width: 780px){
            margin: 0 auto;
            width: 25vw;
    }
}

.o-content{
    text-align: center;
    max-width: 300px;
}

.origem h3, .receita h3{
    color: var(--color-primary-2);
    font-family: 'Poppins' sans-serif;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.origem h2, .receita h2{
    color: var(--color-neutral-1);
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 20px;

    @media (min-width: 1080px){
    font-size: 2.25rem;
    }
}

.origem p{
    color: var(--color-neutral-1);
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 0.9rem;

    @media (min-width: 1080px){
    font-size: 1rem;
    }
}

/* Receita */

.receita{
    min-height: 100vh;
}

.receita h3, .receita h2{
    text-align: center;
}

.receita p{
    text-align: center;
    color: var(--color-neutral-1);
}
